html {
        overflow: hidden;
        cursor: default;
}

body {
        font-size: 12pt;
        font-family: 'Share Tech Mono', monospace;
        margin: 0px;
        padding: 0px;
        background: #eeffdd;
}

div#content {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        background: #ffccff;
}

div#mini {
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0px;
        padding: 0px;
}

div#controls {
        visibility: hidden;
        text-align: right;
        padding: 5px;
        background: #000000;
        color: #ffffff;
        opacity: 0.65;
        position: absolute;
        top: 10px;
        left: 10px;
}

div#pauseresume {
}

label {
        opacity: 1;
        float: left;
}

input {
        float: right;
}

hr {
        width: 80%;
        color: #777777;
        padding: 0px;
        margin: 3px auto 3px auto;
}

h3 {
        text-size: 14px;
        text-align: left;
        padding: 0px;
        margin: 0px;
}

h2 {
        text-align: center;
        text-size: 14px;
        padding: 0px;
        margin: 0px;
}

span {
        display: inline-block;
        width: 80%;
}

input {
        border: 0px;
        background: #000000;
        color: #ffffff;
        width: 50px;
}

button {
        cursor: pointer;
        font-size: 12pt;
        font-family: 'Share Tech Mono', monospace;
        display: inline-block;
        background: #000000;
        border: 0px;
        margin: 0px;
        text-decoration: underline;
        color: #ffffff;
}

button.small {
        display: inline-block;
        font-size: 10pt;
}

button#unhidebutton {
        color: #000000;
        background: none;
        opacity: 0.65;
}

button#hidebutton {
        float: left;
}

#pausebutton {
        float: right;
}

#resumebutton {
        visibility: hidden;
        float: right;
}

#stepbutton {
        visibility: hidden;
}

canvas {
        background: #eeffdd;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0px;
        padding: 0px;
}
